.header__nav{
background-color: rgba(0, 0, 0, 0.164);

}
.header__nav__list{
display: flex;
justify-content: space-between;
margin: 0;
align-items: center
}
.header__nav__list__section{
    margin-right: 25px;

}
.header__nav__list__section__item{
    text-decoration: none;
    background-color: black;
    color:aliceblue;
    border: 2px solid silver;
    border-radius: 15px;
    padding: 10px;
}
.header__nav__list__section__item--hidden{
    display: none;
}
.main{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.form{
    display: flex;
   
}
.registration{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10px;
    top: 0;
    background-color: black;
    justify-content: center;
    align-items: center;
    color:aliceblue
    
}

body{
    position: relative;
}
.form__not__found{
    color: red;
}
.form__not__found--hidden{
    opacity: 0;
}

.registration--hidden{
    display: none;
}
.cards{
    display: flex;
    flex-direction: column;
}
.cards__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.card_form{
    margin: 15px;
    background-color: silver;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.submiot_cards{
    text-decoration: none;
    background-color: black;
    color:aliceblue;
    border: 2px solid silver;
    border-radius: 15px;
    padding: 10px;
}

.cards__exid{
    background-color: black;
    color: silver;
    width: 20px;
    text-align: center;
    cursor: pointer;
}
.doctors_delete{
    display: flex;
    flex-direction: column;
}